<a href="https://colab.research.google.com/github/punramon/python_dataviz2024/blob/main/Function_Loop_Condition2024.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

HW1

In [ ]:
inp = '12:30:15-13:41:07'
inp_list = inp.split('-')
inp_list

['12:30:15', '13:41:07']

# Function

## Function template
#### ทำหน้าที่รับ input มาประมวณผลออกมาเป็น output
#### f(x) = y

### def คือการกำหนดฟังก์ชัน


backtick (`) ==> กด ~ ค้าง, alt - 9>6 (full keyboard with number)

tilde (~)

curly bracket ({ })

square bracket ([ ])

```python
    def function_name(_Input_) :
        do_something with _Input_ to get _Output_
        return _Output_
```

#### ตัวอย่างการเขียน normal function

เราใช้ เว้นวรรค (indent) เพื่อบอกขอบเขตของโปรแกรม

function มีส่วนสำคัญทั้งหมด 4 ส่วน

1.   บอก python ว่าเราจะเขียนฟังก์ชั่น ชื่ออะไร  ```def function_name():``` (ขาดไม่ได้)
2.   กำหนดตัวแปรที่จะเป็น input  ```_Input_``` (ขาดได้)
3.   ส่วนประมวลผล ```do_something with _Input_ to get _Output_``` (ขาดไม่ได้)
4.   ส่วน output ```return _Output_```(ขาดได้)

In [ ]:
def print_myname(): #ตัวอย่าง functionที่ไม่มี input และ output
    print('Punramon') # --> เข้าไปอยู่ในmemory

In [ ]:
print_myname()

Punramon

In [ ]:
def print_name(surname,ID,name): #ตัวอย่าง function ที่มี input หลายตัว กับ output 1 ตัว
    st = f'ชื่อ {name} นามสกุล {surname} รหัส {ID}'
    return st

In [ ]:
print_name('อินทระ','64xxxxxx','ธนพงศ์')

'ชื่อ ธนพงศ์ นามสกุล อินทระ รหัส 64xxxxxx'

In [ ]:
print(print_name(name='กาญจนา',surname='ประสาคุณ',ID='603021855-2')) #แบบไม่ต้องจำลำดับ

ชื่อ กาญจนา นามสกุล ประสาคุณ รหัส 603021855-2

## ข้อแตกต่างระหว่าง function ที่มีและไม่มี output

In [ ]:
out_printname1 = print_name(name='กาญจนา',surname='ประสาคุณ',ID ='603021855-2') #มี output
print(out_printname1)

ชื่อ กาญจนา นามสกุล ประสาคุณ รหัส 603021855-2

In [ ]:
out_printname1

'ชื่อ กาญจนา นามสกุล ประสาคุณ รหัส 603021855-2'

In [ ]:
out_printname2 = print_name2(name='กาญจนา',surname='ประสาคุณ',ID ='603021855-2') #ไม่มี output
print(out_printname2)

ชื่อ กาญจนา นามสกุล ประสาคุณ รหัส 603021855-2
None

In [ ]:
out_printname2

ฟังก์ชั่นไม่จำเป็นต้องมี output

In [ ]:
def print_name2(surname,ID,name):
    st = f'ชื่อ {name} นามสกุล {surname} รหัส {ID}'
    print(st)

In [ ]:
print_name2(name='กาญจนา',surname='ประสาคุณ',ID='603021855-2')

ชื่อ กาญจนา นามสกุล ประสาคุณ รหัส 603021855-2

ฟังก์ชั่นไม่จำเป็นต้องมี input

In [ ]:
def Pi():
    return 3.14159265359

In [ ]:
Pi()*(2**2) # หาพื้นที่ของวงกลมที่มีรัศมีเท่ากับ Pi * r^2

12.56637061436

## เราสามารถกำหนดค่า default ให้กับฟังก์ชั่นได้

input ของ function ใน python มีสองแบบ input ที่จำเป็นต้องใส่ กับ input ที่ไม่จำเป็นต้องใส่ (มีค่า default)

เราต้องเรียง input ที่จำเป็นต้องใส่ขึ้นก่อน

In [ ]:
def print_2lines_default(name,surname,ID,grade='F'): #มี = คือมีค่า default
    st = f'ชื่อ {name} นามสกุล {surname} รหัส {ID}'
    print (st)
    st2=f'เกรดวิชา Data Viz >>> {grade}'
    print(st2)

In [ ]:
print_2lines_default('ธันยาการต์','พวงมาลัย','613020551-8') #ถ้าใส่ไม่ครบจะerror

ชื่อ ธันยาการต์ นามสกุล พวงมาลัย รหัส 613020551-8
เกรดวิชา Data Viz >>> F

In [ ]:
print_2lines_default('ธันยาการต์','พวงมาลัย','613020551-8','A')

ชื่อ ธันยาการต์ นามสกุล พวงมาลัย รหัส 613020551-8
เกรดวิชา Data Viz >>> A

# Quiz3
เขียน function ที่รับ input 1 ตัว ตาม format hh1:mm1:ss1 - hh2:mm2:ss2 และคำนวณหา ช่วงเวลาเป็นวินาทีที่ห่างกันระหว่าง time1 และ time2 โดยไม่สนใจว่า time2 สามารถไปอีกวัน

In [ ]:
def time_diff(time):
    split_time = time.split('-')
    time1 = split_time[0]
    time2 = split_time[1]
    #แบ่งค่าด้วย :
    list_t1 = time1.split(':')
    list_t2 = time2.split(':')
    #รวมเวลาทั้งหมด(หน่วยวินาที)
    sum_t1 = int(list_t1[0])*3600 + int(list_t1[1])*60 + int(list_t1[2])
    sum_t2 = int(list_t2[0])*3600 + int(list_t2[1])*60 + int(list_t2[2])
    #แสดงผลความต่างของช่วงเวลา
    print(f'ความต่างของช่วงเวลาคือ {sum_t2-sum_t1} วินาที')

In [ ]:
time_diff('12:30:15-13:41:07')

ความต่างของช่วงเวลาคือ 4252 วินาที

# Quiz 3.5
รับ input 2 ตัว โดยตั้งค่า default time1 เป็น 00:00:00

In [ ]:
def time_diff2(time2,time1='00:00:00'):
    #แบ่งค่าด้วย :
    list_t1 = time1.split(':')
    list_t2 = time2.split(':')
    #รวมเวลาทั้งหมด(หน่วยวินาที)
    sum_t1 = int(list_t1[0])*3600 + int(list_t1[1])*60 + int(list_t1[2])
    sum_t2 = int(list_t2[0])*3600 + int(list_t2[1])*60 + int(list_t2[2])
    #แสดงผลความต่างของช่วงเวลา
    print(f'ความต่างของช่วงเวลาคือ {sum_t2-sum_t1} วินาที')

In [ ]:
time_diff2('12:30:15')

ความต่างของช่วงเวลาคือ 45015 วินาที

## HW2 ส่ง 8 ก.ค.
วนลูปหาช่วงเวลาเป็นวินาทีที่ห่างกันระหว่าง time1 และ time2 ต่อไปนี้
1. 18:09:10 - 18:25:10
2. 13:38:39 - 23:54:39
3. 16:49:58 - 18:05:58
4. 21:49:10 - 22:24:10
5. 08:52:21 - 09:25:21
6. 06:56:26 - 07:49:26
7. 12:08:05 - 12:43:05
8. 01:48:38 - 07:18:38
9. 08:51:21 - 10:17:21
10. 17:05:17 - 18:09:17

In [ ]:
def time_diff_in_seconds(time1_str, time2_str):
    # แยกข้อความเวลาเป็นชั่วโมง, นาที, วินาที โดยใช้ split
    time1_parts = time1_str.split(':')
    time2_parts = time2_str.split(':')

    h1 = int(time1_parts[0])
    m1 = int(time1_parts[1])
    s1 = int(time1_parts[2])

    h2 = int(time2_parts[0])
    m2 = int(time2_parts[1])
    s2 = int(time2_parts[2])

    # คำนวณเวลาในรูปแบบวินาที
    total_seconds1 = h1 * 3600 + m1 * 60 + s1
    total_seconds2 = h2 * 3600 + m2 * 60 + s2

    # คำนวณช่วงเวลาที่ห่างกัน
    if total_seconds2 >= total_seconds1:
        diff = total_seconds2 - total_seconds1
    else:
        # Handle the case where time2 is less than time1 (next day scenario)
        diff = 24 * 3600 - total_seconds1 + total_seconds2

    return diff

In [ ]:
# รายการของคู่เวลาที่ต้องการหาช่วงเวลาที่ห่างกัน (ในรูปแบบ HH:MM:SS)
time_pairs = [
    ("18:09:10", "18:25:10"),
    ("13:38:39", "23:54:39"),
    ("16:49:58", "18:05:58"),
    ("21:49:10", "22:24:10"),
    ("08:52:21", "09:25:21"),
    ("06:56:26", "07:49:26"),
    ("12:08:05", "12:43:05"),
    ("01:48:38", "07:18:38"),
    ("08:51:21", "10:17:21"),
    ("17:05:17", "18:09:17")
]
# data in () แก้ไม่ได้

In [ ]:
# หาช่วงเวลาที่ห่างกันในรูปแบบวินาที
for time1_str, time2_str in time_pairs:
    seconds_diff = time_diff_in_seconds(time1_str, time2_str)
    print(f"ช่วงเวลาระหว่าง {time1_str} และ {time2_str} คือ {seconds_diff} วินาที")

ช่วงเวลาระหว่าง 18:09:10 และ 18:25:10 คือ 960 วินาที
ช่วงเวลาระหว่าง 13:38:39 และ 23:54:39 คือ 36960 วินาที
ช่วงเวลาระหว่าง 16:49:58 และ 18:05:58 คือ 4560 วินาที
ช่วงเวลาระหว่าง 21:49:10 และ 22:24:10 คือ 2100 วินาที
ช่วงเวลาระหว่าง 08:52:21 และ 09:25:21 คือ 1980 วินาที
ช่วงเวลาระหว่าง 06:56:26 และ 07:49:26 คือ 3180 วินาที
ช่วงเวลาระหว่าง 12:08:05 และ 12:43:05 คือ 2100 วินาที
ช่วงเวลาระหว่าง 01:48:38 และ 07:18:38 คือ 19800 วินาที
ช่วงเวลาระหว่าง 08:51:21 และ 10:17:21 คือ 5160 วินาที
ช่วงเวลาระหว่าง 17:05:17 และ 18:09:17 คือ 3840 วินาที

# LOOP การวนซ้ำ

for เป็นคำที่ใช้บอก python ว่าเรากำลังเขียน loop
โดย for จะวนดึงสมาชิกจาก ```listA``` มาทำ process ```do_something```

```python
    for each_member in listA :
        do_something
```

#### คำสั่ง for เป็นคำสั่งวนซ้ำที่ใช้ควบคุมการทำงานซ้ำๆ ในจำนวนรอบที่แน่นอน

In [ ]:
for i in [1,2,3] :
    o = i**2
    print (f'this member = {i} after process = {o}')

this member = 1 after process = 1
this member = 2 after process = 4
this member = 3 after process = 9

# จบวันที่ 7 มค 2564

#### ตัวอย่างการใช้คำสั่ง for ในการวนซ้ำค่าของ i เมื่อ i คือ 'Thanapong' และคำสั่ง print(f'{i} -> /') เพื่อกำหนดให้ผลลัพธ์แสดงสัญลักษณ์ -> /  จากนั้นเพิ่มคำสั่ง print(' ') อีกครั้งเพื่อให้ผลลัพธ์มีการเว้นวรรค¶

In [ ]:
for i in 'Thanapong':
    print(f'{i} -> / ' )

T -> /
h -> /
a -> /
n -> /
a -> /
p -> /
o -> /
n -> /
g -> /

In [ ]:
for i in 'Thanapong':
    print(f'{i} -> / ' ,end = '') #สั่งให้ print แบบ ไม่เว้นบรรทัด

T -> / h -> / a -> / n -> / a -> / p -> / o -> / n -> / g -> /

## สร้าง list ตัวเลขแบบอัตโนมัติ  range()

In [ ]:
range5_output = range(5)
print(list(range5_output))

[0, 1, 2, 3, 4]

In [ ]:
for i in range(100):
    print('งง',end=' ')

งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง

In [ ]:
list(range(1,11)) #เริ่มต้นเป็นวงทึบ จบเป็นวงกลมโปร่ง เหมือน list slicing

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
list(range(-3,20,4))

[-3, 1, 5, 9, 13, 17]

### loop in loop
#### สามารถใช้ for loop ซ้อนกันสองรอบได้¶

In [ ]:
for name1 in  range(2,5): #(2, 3, 4)
    print(f'now name1 = {name1}')
    for name2 in  range(1,13):
        print('  ',name1,' x ',name2,' = ',name1*name2)
    print('the inner loop is end')

now name1 = 2
   2  x  1  =  2
   2  x  2  =  4
   2  x  3  =  6
   2  x  4  =  8
   2  x  5  =  10
   2  x  6  =  12
   2  x  7  =  14
   2  x  8  =  16
   2  x  9  =  18
   2  x  10  =  20
   2  x  11  =  22
   2  x  12  =  24
the inner loop is end
now name1 = 3
   3  x  1  =  3
   3  x  2  =  6
   3  x  3  =  9
   3  x  4  =  12
   3  x  5  =  15
   3  x  6  =  18
   3  x  7  =  21
   3  x  8  =  24
   3  x  9  =  27
   3  x  10  =  30
   3  x  11  =  33
   3  x  12  =  36
the inner loop is end
now name1 = 4
   4  x  1  =  4
   4  x  2  =  8
   4  x  3  =  12
   4  x  4  =  16
   4  x  5  =  20
   4  x  6  =  24
   4  x  7  =  28
   4  x  8  =  32
   4  x  9  =  36
   4  x  10  =  40
   4  x  11  =  44
   4  x  12  =  48
the inner loop is end

### loop in function
#### การวนลูปในฟังก์ชั่น¶

In [ ]:
def print_feelings(I,friendS,feeling = 'คิดถึง'):
    for friend in friendS:
        print(f'{I} {feeling} {friend}')

In [ ]:
list_friends = ['พี่บูม','ดายน์','แตงโม','ฝน','พี่เจ็ท','น้องแคมป์']

In [ ]:
print_feelings('เจมส์',list_friends)

เจมส์ คิดถึง พี่บูม
เจมส์ คิดถึง ดายน์
เจมส์ คิดถึง แตงโม
เจมส์ คิดถึง ฝน
เจมส์ คิดถึง พี่เจ็ท
เจมส์ คิดถึง น้องแคมป์

In [ ]:
print_feelings('เจมส์',list_friends,feeling='รัก')

เจมส์ รัก พี่บูม
เจมส์ รัก ดายน์
เจมส์ รัก แตงโม
เจมส์ รัก ฝน
เจมส์ รัก พี่เจ็ท
เจมส์ รัก น้องแคมป์

In [ ]:
print_feelings('เจมส์',list_friends,'รัก')

เจมส์ รัก พี่บูม
เจมส์ รัก ดายน์
เจมส์ รัก แตงโม
เจมส์ รัก ฝน
เจมส์ รัก พี่เจ็ท
เจมส์ รัก น้องแคมป์

##Dictionary (Data Structure)
โครงสร้างข้อมูลที่จัดเก็บข้อมูลโดยการอ้างอิงโดย text
* วงเล็บที่ใช้ ``` {}```  Curly Brackets

In [ ]:
Ex_dict_A = {'memberA':[1,2,3],'memberB':8,'memberC':'abc'}

In [ ]:
Ex_dict_A

{'memberA': [1, 2, 3], 'memberB': 8, 'memberC': 'abc'}

In [ ]:
Ex_dict_A['memberA'] #ชี้สมาชิกA (ชี้เหมือน list [ ])

[1, 2, 3]

In [ ]:
Ex_dict_A['memberA'][1]#ชี้สมาชิกA ตัวที่2

2

### looping in dict
#### ทำการวนลูปในค่า dict โดยที่เรากำหนดตัว key และvalueขึ้นมา ได้ดังนี้

In [ ]:
name_grade = {'พันทิพา' : 'B','ศุภนิตา' : 'C','ปนัดดา' : 'A','ทรงกลด' : 'F'}
name_grade

{'พันทิพา': 'B', 'ศุภนิตา': 'C', 'ปนัดดา': 'A', 'ทรงกลด': 'F'}

In [ ]:
name_grade['ปนัดดา']

'A'

In [ ]:
for i in name_grade.keys():
    print(i)

พันทิพา
ศุภนิตา
ปนัดดา
ทรงกลด

In [ ]:
name_grade.keys()

dict_keys(['พันทิพา', 'ศุภนิตา', 'ปนัดดา', 'ทรงกลด'])

In [ ]:
name_grade.values()

dict_values(['B', 'C', 'A', 'F'])

In [ ]:
for i in name_grade.keys():
    print(f'{i} ได้เกรด {name_grade[i]}') #loop in key จะได้รู้อะไรคือตัวที่ชี้

พันทิพา ได้เกรด B
ศุภนิตา ได้เกรด C
ปนัดดา ได้เกรด A
ทรงกลด ได้เกรด F

HW2 Example

In [1]:
time_list =  [
    ["18:09:10", "18:25:10"],
    ["13:38:39", "23:54:39"],
    ["16:49:58", "18:05:58"],
    ["21:49:10", "22:24:10"],
    ["08:52:21", "09:25:21"],
    ["06:56:26", "07:49:26"],
    ["12:08:05", "12:43:05"],
    ["01:48:38", "07:18:38"],
    ["08:51:21", "10:17:21"],
    ["17:05:17", "18:09:17"]]

def time_to_second(time1,time2):
    time1_list = time1.split(':')
    time2_list = time2.split(':')
    time1_sec = int(time1_list[0])*3600 + int(time1_list[1])*60 + int(time1_list[2])
    time2_sec = int(time2_list[0])*3600 + int(time2_list[1])*60 + int(time2_list[2])
    return(time2_sec - time1_sec)

for time1,time2 in time_list:
  diff_seconds = time_to_second(time1,time2)
  print(f"Time difference between {time1} - {time2} is {diff_seconds} seconds")

Time difference between 18:09:10 - 18:25:10 is 960 seconds
Time difference between 13:38:39 - 23:54:39 is 36960 seconds
Time difference between 16:49:58 - 18:05:58 is 4560 seconds
Time difference between 21:49:10 - 22:24:10 is 2100 seconds
Time difference between 08:52:21 - 09:25:21 is 1980 seconds
Time difference between 06:56:26 - 07:49:26 is 3180 seconds
Time difference between 12:08:05 - 12:43:05 is 2100 seconds
Time difference between 01:48:38 - 07:18:38 is 19800 seconds
Time difference between 08:51:21 - 10:17:21 is 5160 seconds
Time difference between 17:05:17 - 18:09:17 is 3840 seconds

In [2]:
time1 = "18:09:10"
time2 = "00:25:10"
diff_seconds = time_to_second(time1,time2)
print(f"Time difference between {time1} - {time2} is {diff_seconds} seconds")

Time difference between 18:09:10 - 00:25:10 is -63840 seconds

# conditional statemet คือ เงื่อนไข /ประโยคเงื่อนไข

ชนิดตัวแปรที่เกี่ยงข้อง Boolean (True, False) or 1,0

In [ ]:
Condition_1 = True
Condition_2 = False


## การวนลูปโดยมีเงื่อนไขต่างๆมาเกี่ยวข้อง โดยมี pattern ดังนี้

```Python
if condition1 :
    do something
elif condition2 :  #elif คือ else if
    do another thing
else:
    do ...
```

In [3]:
time_list = [
    ["18:09:10", "18:25:10"],
    ["13:38:39", "23:54:39"],
    ["16:49:58", "18:05:58"],
    ["21:49:10", "22:24:10"],
    ["08:52:21", "09:25:21"],
    ["06:56:26", "07:49:26"],
    ["12:08:05", "12:43:05"],
    ["01:48:38", "07:18:38"],
    ["08:51:21", "10:17:21"],
    ["17:05:17", "18:09:17"],
    ["18:51:21", "10:17:21"],
    ["17:05:17", "11:09:17"],
] #ใน () data ที่แก้ไม่ได้ ใช้[ ] ก็ได้

In [4]:
def time_to_second(time1):
    time1_list = time1.split(':')
    time1_sec = int(time1_list[0])*3600 + int(time1_list[1])*60 + int(time1_list[2])
    return time1_sec

In [5]:
for time1,time2 in time_list:

    if time_to_second(time1) < time_to_second(time2): #ถ้า time1 น้อยกว่า time2
        diff_seconds = time_to_second(time2) - time_to_second(time1)
    else: #ถ้า time1 ไม่น้อยกว่า time2
        diff_seconds = (time_to_second(time2)+(24*60*60)) - time_to_second(time1)

    print(f"Time difference between {time1} - {time2} is {diff_seconds} seconds")

Time difference between 18:09:10 - 18:25:10 is 960 seconds
Time difference between 13:38:39 - 23:54:39 is 36960 seconds
Time difference between 16:49:58 - 18:05:58 is 4560 seconds
Time difference between 21:49:10 - 22:24:10 is 2100 seconds
Time difference between 08:52:21 - 09:25:21 is 1980 seconds
Time difference between 06:56:26 - 07:49:26 is 3180 seconds
Time difference between 12:08:05 - 12:43:05 is 2100 seconds
Time difference between 01:48:38 - 07:18:38 is 19800 seconds
Time difference between 08:51:21 - 10:17:21 is 5160 seconds
Time difference between 17:05:17 - 18:09:17 is 3840 seconds
Time difference between 18:51:21 - 10:17:21 is 55560 seconds
Time difference between 17:05:17 - 11:09:17 is 65040 seconds

# HW3 เพิ่ม ฟังก์ชันแปลงวินาทีกลับมาเป็นชั่วโมง นาที วินาที โดยไม่ใช้ฟังก์ชันช่วยเหลืออื่นๆ ของ python(import) ถ้าส่วนของชั่วโมง นาที วินาที เป็นศูนย์ไม่ต้องแสดง

In [10]:
time_list = [
    ["18:09:10", "18:25:10"],
    ["13:38:39", "23:54:39"],
    ["16:49:58", "18:05:58"],
    ["21:49:10", "22:24:10"],
    ["08:52:21", "09:25:21"],
    ["06:56:26", "07:49:26"],
    ["12:08:05", "12:43:05"],
    ["01:48:38", "07:18:38"],
    ["08:51:21", "10:17:21"],
    ["17:05:17", "18:09:17"],
    ["18:51:21", "10:17:21"],
    ["17:05:17", "11:09:17"],
]
# ฟังก์ชันสำหรับแปลงเวลา (hh:mm:ss) ให้เป็นวินาที
def time_to_second(time1):
    time1_list = time1.split(':')
    time1_sec = int(time1_list[0]) * 3600 + int(time1_list[1]) * 60 + int(time1_list[2])
    return time1_sec

# ฟังก์ชันสำหรับแปลงวินาทีให้เป็น --> ชั่วโมง, นาที, วินาที
def seconds_to_hms(seconds):
    hours = seconds // 3600 #ชั่วโมง --> นาที
    seconds %= 3600 #หาวินาทีที่เหลือจากการแปลงเป็นชั่วโมง( %= หาเศษเหลือ )
    minutes = seconds // 60 #แปลงวินาทีที่เหลือเป็นนาที
    seconds %= 60 # หาวินาทีที่เหลือจากการแปลงเป็นนาที
    result = "" #สร้างผลลัพธ์เป็นstring , กำหนดให้ result เป็น string ว่าง
    if hours > 0:
        result += f"{hours} ชั่วโมง " #ถ้าค่าของ hours มากกว่า 0 จะเพิ่มstringที่ประกอบด้วยจำนวนชั่วโมงและคำว่า "ชั่วโมง" ลงใน result
    elif minutes > 0:
        result += f"{minutes} นาที "
    elif seconds > 0:
        result += f"{seconds} วินาที"
    return result.strip()

for time1, time2 in time_list:
    if time_to_second(time1) < time_to_second(time2): #ถ้า time1 น้อยกว่า time2
        diff_seconds = time_to_second(time2) - time_to_second(time1)
    else: #ถ้า time1 ไม่น้อยกว่า time2
        diff_seconds = (time_to_second(time2) + (24 * 60 * 60)) - time_to_second(time1)

    time_difference = seconds_to_hms(diff_seconds)
    print(f"ความต่างของเวลา {time1} - {time2} คือ {time_difference} ")

ความต่างของเวลา 18:09:10 - 18:25:10 คือ 16 นาที
ความต่างของเวลา 13:38:39 - 23:54:39 คือ 10 ชั่วโมง
ความต่างของเวลา 16:49:58 - 18:05:58 คือ 1 ชั่วโมง
ความต่างของเวลา 21:49:10 - 22:24:10 คือ 35 นาที
ความต่างของเวลา 08:52:21 - 09:25:21 คือ 33 นาที
ความต่างของเวลา 06:56:26 - 07:49:26 คือ 53 นาที
ความต่างของเวลา 12:08:05 - 12:43:05 คือ 35 นาที
ความต่างของเวลา 01:48:38 - 07:18:38 คือ 5 ชั่วโมง
ความต่างของเวลา 08:51:21 - 10:17:21 คือ 1 ชั่วโมง
ความต่างของเวลา 17:05:17 - 18:09:17 คือ 1 ชั่วโมง
ความต่างของเวลา 18:51:21 - 10:17:21 คือ 15 ชั่วโมง
ความต่างของเวลา 17:05:17 - 11:09:17 คือ 18 ชั่วโมง

#### ==, !=,>=,<=,<,>

In [ ]:
'พี่บูม' == 'พี่เจ็ท'

False

In [ ]:
'พี่บูม' != 'พี่เจ็ท'

True

#### หากหลังเงื่อนไข True ถูกต้องจะทำการ print ข้อความออกมาว่า Yes

In [ ]:
if True:
    print('Yes')

Yes

In [ ]:
if False:
    print('No')

#### หากหลังเงื่อนไข False ไม่ถูกต้องจะไม่ปริ้นข้อความใดๆออกมา
#### ซึ่งจะต้องใช้เงื่อนไขนี้ จึงจะได้ปริ้นค่าเงื่อนไขนั้นออกมา ดังนี้

In [ ]:
if False:
    print('Yes')
else:
    print('No')

No

# HW 4
#### เขียน function ตัดเกรด โดยที่ input เป็นคะแนน(0-100) , output เป็นเกรด (F-A)
#### วนลูปตัดเกรด input = [1,50,65,90,101,-5,49]

##### กำหนด
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ  0  แต่น้อยกว่า 50 จะได้เกรด F
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 50 แต่น้อยกว่า 55 จะได้เกรด D
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 55 แต่น้อยกว่า 60 จะได้เกรด D+
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 60 แต่น้อยกว่า 65 จะได้เกรด C
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 65 แต่น้อยกว่า 70 จะได้เกรด C+
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 70 แต่น้อยกว่า 75 จะได้เกรด B
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 75 แต่น้อยกว่า 80 จะได้เกรด B+
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 80  จะได้เกรด A
      แต่ว่าค่าคะแนนจะต้องไม่ต่ำกว่า 0 และมากกว่า 100 ไม่งั้นจะเกิด error

In [20]:
def grade(score):
    if score < 0 or score > 100:
        raise ValueError("input ต้องเป็นคะแนนที่อยู่ระหว่าง 0 ถึง 100")
    elif score < 50:
        return "F"
    elif score < 55:
        return "D"
    elif score < 60:
        return "D+"
    elif score < 65:
        return "C"
    elif score < 70:
        return "C+"
    elif score < 75:
        return "B"
    elif score < 80:
        return "B+"
    else:
        return "A"

In [21]:
input = [1, 50, 65, 90, 101, -5, 49]

In [22]:
for score in input:
    try:
        print(f"คะแนน: {score} เกรด: {grade(score)}")
    except ValueError as e:
        print(f"คะแนน: {score} Error: {e}")

คะแนน: 1 เกรด: F
คะแนน: 50 เกรด: D
คะแนน: 65 เกรด: C+
คะแนน: 90 เกรด: A
คะแนน: 101 Error: input ต้องเป็นคะแนนที่อยู่ระหว่าง 0 ถึง 100
คะแนน: -5 Error: input ต้องเป็นคะแนนที่อยู่ระหว่าง 0 ถึง 100
คะแนน: 49 เกรด: F

## `&`(and), `| `(or), `in`, `is` : Operator อื่นๆ

In [ ]:
if (1>0) & (0>-1):
    print(True & True)

True

In [ ]:
if 'T' in 'Thanapong':
    print('T in Thanapong')

T in Thanapong

In [ ]:
def return_nothing(x):
    x =x+1 #not return --> none

In [ ]:
a = return_nothing(5)

In [ ]:
if return_nothing(5) is None:
    print('x is Null')

x is Null

In [ ]:
if a is None:
    print('x is Null')

x is Null

# Finish